table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.25rem;
    text-align: left;
    line-height: 140%;
}

td p {
    margin: 0;
    line-height: 140%;
}

.algorithm-description p {
    line-height: 140%;
}

li {
    line-height: 140%;
}