/*
.parameters-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
}

.parameters-grid > div {
    border: 1px solid #aaa;
}
*/

.algorithm-parameters .parameter {
    /*padding: 5px;*/
    /*border: 1px solid #aaa;*/
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 140%;
}

.algorithm-parameters .parameter .key {
    font-weight: bold;
    /*margin: 0 10px 0 0;*/
    margin-right: 0.5rem;
}

/*.algorithm-parameters .parameter.is-knob .key {*/
/*    font-weight: bold;*/
/*    margin: 0;*/
/*}*/

.algorithm-parameters .parameter select {
    font-size: 1rem;
    /*margin-right: 10px;*/
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
}

.algorithm-parameters .parameter input[type=range] {
    /*width: 240px;*/
    width: 100%;
}

.parameter-slider {
    width: 200px;
    min-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
}

.algorithm-parameters .parameter.is-knob {

}


.parameter-knob {
    margin-right: 10px;
}

.parameter-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.param-min {
    /*font-weight: bold;*/
}

.param-max {
    /*font-weight: bold;*/
}

