.ports-row {
    display: flex;
    margin: 10px 0;
}

.ports-row > div {
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
}

.port {
    padding: 0 3px;
}

.ports-row select {
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
}