.ports-row {
    display: flex;
    /*margin: 20px 0;*/
}

.ports-row > div {
    cursor: pointer;
    user-select: none;
    /*border: 1px solid #aaa;*/
    /*padding: 2px;*/
    margin-right: 10px;
}

.port {
    padding: 0 3px;
}
