/* General layout */

/*
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
*/

header {
    background-color: #eee; /* debug */
    flex-shrink: 0;
    padding: 10px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

main .left {
    /*width: 25%;*/
    /*min-width: 25%;*/
    min-width: 350px;
    padding-left: 10px;
    padding-right: 10px;
}

main .middle {
    flex-grow: 2;
    padding-left: 10px;
    padding-right: 10px;
}

main .right {
    flex-grow: 1;
    width: 40%;
    max-width: 40%;
    /*width: 20%;*/
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    flex-shrink: 0;
    background-color: #eee; /* debug */
    padding-left: 10px;
    padding-right: 10px;
}

/*  */

.scrollable {
    overflow-y: auto;
}

/* */

header .title {
    font-weight: bold;
    font-size: 1.25rem;
}


h3 {
    margin: 10px 0 10px 0;
    font-size: 0.85rem;
    color: #666;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid #aaa;
}


/* Utilities */

pre {
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.center {
    justify-self: center;
}

.centerV {
    align-self: center;
}

.space-between {
    justify-content: space-between;
}

.stretch {
    align-content: stretch;
}

.self-justify-center {
    justify-self: center;
}

.self-justify-end {
    justify-self: end;
}

.grid1x3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /*justify-items: center;*/
}